<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjf.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.wjf.entity.Menu">
        <id property="id" column="id"/>
        <result property="pattern" column="pattern"/>
        <collection property="roles" ofType="com.wjf.entity.Role">
            <id column="rid" property="id"/>
            <result column="name" property="name"/>
            <result column="nameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <select id="getAllMenu" resultMap="BaseResultMap">
        select m.id id,
               m.pattern pattern,
               mr.id rid,
               name,nameZh
        from menu m
                 left join menu_role mr
                           on m.id = mr.mid
                 left join role r on mr.rid = r.id

    </select>
</mapper>